<%= form_for(:session, url: login_path) do |form| %>
  <p>
    <%= form.email_field :email, :placeholder => "Email" %>
  </p>
  <p>
    <%= form.password_field :password, :placeholder => "Password"%>
  </p>
  <p>
    <%= form.submit "Log in", class: 'btn-submit' %>
  </p>
<% end %>
