
<h1 class="has-text-centered has-text-primary is-size-3">Hello, Rails!</h1>
<p class="has-text-centered has-text-success is-size-5">Click the link to visit my incredibly <em>complicated</em> blog index</p>

<div class="has-text-centered is-size-3 has-text-info"><%= link_to 'My Blog', controller: 'articles'%></div>
