/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  border: 1px solid red;
  padding: 1vw;
  font-size: 1vw;
}

.linkClass {
  padding-left: 1vw;
}

.navBackground {
  background: #e86c57; /* Old browsers */
  background: -webkit-linear-gradient(bottom left, #e86c57 16%, #ea2803 37%, #ea2803 37%, #f3c5bd 44%, #f3c5bd 45%, #f3c5bd 45%, #f3c5bd 46%, #f3c5bd 46%, #ff6600 70%, #c72200 100%);
  background: -o-linear-gradient(bottom left, #e86c57 16%, #ea2803 37%, #ea2803 37%, #f3c5bd 44%, #f3c5bd 45%, #f3c5bd 45%, #f3c5bd 46%, #f3c5bd 46%, #ff6600 70%, #c72200 100%);
  background: linear-gradient(to top right, #e86c57 16%, #ea2803 37%, #ea2803 37%, #f3c5bd 44%, #f3c5bd 45%, #f3c5bd 45%, #f3c5bd 46%, #f3c5bd 46%, #ff6600 70%, #c72200 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e86c57', endColorstr='#c72200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
