<div>
  <h1>Bec's Ruby and Rails Blog</h1>
  <ul>
      <li><%= link_to 'Home', "/" %></li>
      <li><%= link_to 'Login', "/login" %></li>
      <li><%= link_to 'Signup', "/signup" %></li>
  </ul>
</div>
